.details {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  height: 100vh; /* Full height of the viewport */
  background-color: #000000; /* Light background color */
  text-align: center;
}

.clg-details{
  margin-top: 0.2%;
  color: #4ddbff; /* Dark text color */
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3rem; /* Larger font size for main title */
}

h2 {
  font-size: 2rem; /* Medium font size for subtitle */
}

h3 {
  font-size: 1.5rem; /* Smaller font size for "Presents" */
}
