.split-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem; /* Add spacing between words */
    font-family: 'Bevan'; /* Ensure font compatibility */
    font-size: 3rem; /* Adjust size as needed */
    color: #68e4f9;
    text-shadow: 0 0 10px rgba(0, 171, 225, 0.5);
  }
 
  .split-text-word {
    display: inline-block;
    animation: fadeIn 1s ease-in-out;
    font-size:4rem ;
      
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  